@import "tailwindcss/base";
@import "components/global.css";
@import "components/sanity-content.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.sanity-content a {
  text-decoration: underline;
}

.sanity-content a:hover {
  text-decoration: none;
  color: #121212;
}
